@model Sales.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhe do Produto - " + Model.Nome;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Departamento.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataCadastro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>

        <form asp-controller="Carrinho" asp-action="AdicionarAoCarrinho" method="post">
            <input type="hidden" asp-for="Id" name="Id" />
            <input type="hidden" asp-for="Nome" name="Nome" />
            <input type="hidden" asp-for="Descricao" name="Descricao" />
            <input type="hidden" asp-for="Imagem" name="Imagem" />
            <input type="hidden" asp-for="Valor" name="Valor" />
            <input type="hidden" asp-for="DataCadastro" name="DataCadastro" />
            <input type="hidden" asp-for="Ativo" name="Ativo" />
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" value="1" />
            <button type="submit">Adicionar ao Carrinho</button>

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="text-danger">@TempData["ErrorMessage"]</div>
            }

            <input type="hidden" asp-antiforgery="true" />
        </form>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            <a class="btn btn-info" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>